services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: div_user
      POSTGRES_PASSWORD: a9hn6uoUKs7
      POSTGRES_DB: dividend_register
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: